apiVersion: v1
kind: Pod
metadata: 
  name: Pod-ConfigMap
  labels:
    purpose: pod-configmap-demo
    project: roboshop
spec:
  containers:
  - name: nginx
    image: nginx
    envFrom:
      - configMapRef:
          name: config-map